*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Poppins", serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
}

body {
    background-color: #F6FFF1;
}

header {
    position: fixed;
    width: 100%;

    height: 5.875rem;
    padding-inline: 6.25rem;
    background-color: #F6FFF1;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 4px rgba(9, 31, 0, 0.1);

    & nav {
        display: flex;
        gap: 2rem;
        margin: auto;
    }

    & a {
        text-decoration: none;
        color: #091F00;
        font-weight: 600;
    }

    #btn-contact {
        background-color: #040E00;
        color: #D4E6CC;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        display: flex;
        gap: 0.5rem;
        font-weight: 600;
    }

    #logo-name {
        height: 22px;
    }

    #menu {
        display: none;
    }
}

@media (width <= 768px) {
    
    header {
        padding-inline: 20px;
        height: 3.375rem;

        #logo-name {
            height: 15px;
            margin-right: auto;
        }

        & nav {
            display: none;
        }

        #btn-contact {
            padding: 6px 12px;
            font-size: 0.625rem;
            display: flex;
            align-items: center;
        }
        
        #icon-mail {
            height: 15px;
        }

        #menu {
            display: block;
        }

        #menu-mobile {
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
}